mixin dropdown(dropDown)
    label(class=`${dropDown.formClass}__label label ${dropDown.labelClass}`)=dropDown.labelText
        if(dropDown.alternateText!='')
            span(class=`${dropDown.formClass}__label_alternate label_alternate ${dropDown.altClass}`)=dropDown.alternateText
        details(class=`${dropDown.formClass}__dropdown dropdown`)
            summary=dropDown.placeholder
            ul.dropdown__item-container.item-container
                each item in dropDown.items
                    .dropdown__item
                        span.dropdown__item-content.item-content=item
                        .dropdown__plus-btn.plus-btn.btn.btn_disabled +
                        .dropdown__amount.amount 0
                        .dropdown__minus-btn.minus-btn.btn.btn_disabled -

